<!-- wp:template-part {"slug":"header","theme":"rambha","tagName":"header", "className":"home-header"} /-->

<!-- wp:template-part {"slug":"header-banner-image","theme":"rambha","tagName":"header","className":"block-template"} /-->

<!-- wp:group {"tagName":"main","className":"block-template"} -->
<main class="wp-block-group block-template"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group">
<!-- wp:template-part {"slug":"about","theme":"rambha","tagName":"about"} /-->
<!-- wp:template-part {"slug":"introduction","theme":"rambha","tagName":"introduction"} /-->
<!-- wp:template-part {"slug":"call-to-action-1","theme":"rambha","tagName":"call-to-acion-1"} /-->
<!-- wp:template-part {"slug":"counter","theme":"rambha","tagName":"counter"} /-->
<!-- wp:template-part {"slug":"testimonials","theme":"rambha","tagName":"testimonials"} /-->
<!-- wp:template-part {"slug":"lists","theme":"rambha","tagName":"lists"} /-->
</div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-four-column","theme":"rambha","tagName":"footer","className":"block-template"} /-->
<!-- wp:pattern {"slug":"rambha/footer-default", "theme":"rambha","tagName":"footer","className":"block-template"} /-->